body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex; 
    justify-content: space-between; 
    width: 60%; 
    max-width: 1200px; 
    margin: 50px auto; 
    padding: 20px;
}

.form-section {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #b7984c;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input {
    width: 84.5%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #e4c472;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #614e1c;  
}

#result-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #e4c472c9;
    border-radius: 10px;
}

#result-container p {
    margin: 5px 0;
}

#custom-tip-container {
    margin: 10px 0;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center;
    }

    .form-section {
        width: 100%; 
        margin-bottom: 20px; 
    }
}
